<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <img src="header.jpg" />
    </head>
    <body>
    <h1> Add new Developer</h1> </br>
    <h2>
        <a href="/">Add New Task</a>
        <a href="/alltasks">List All Tasks</a>
        <a href="/adddeveloper">Add New Developer</a>
        <a href="/alldevelopers">List All Developers</a>
        <a href="/updatetask">Update Task</a>
        <a href="/deletetaskbyid">Delete Task By Id</a>
        <a href="/deleteAllComplete">Delete All Complete Tasks</a>
        <a href="/sortAllComplete">Sort All Complete Tasks</a>
    </h2>

        <form action="/adddeveloper" method="POST">
            Developer First Name <input type="text" name ="developerFirstName" /> <br />
            Developer Last Name <input type="text" name ="developerLastName" /> <br />
            Developer Level <input type="text" name ="developerLevel" /> <br />
            Developer Address State <input type="text" name ="developerAddressState" /> <br />
            Developer Address Suburb <input type="text" name ="developerAddressSuburb" /> <br />
            Developer Address Street <input type="text" name ="developerAddressStreet" /> <br />
            Developer Address Unit <input type="text" name ="developerAddressUnit" /> <br />
            <button>Submit</button>
        </form>

    </body>
</html>